html {
}

body {
    margin: 0;
}

.container {
    max-width: 48rem;
}

p {
    font-family: source-serif-pro, Georgia, Cambria, "Times New Roman", Times, serif;
    font-weight: 400;
    typography-spacing-vertical: 0.5rem;
    word-break: break-word;
}